.chart-card-sm {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  max-width: 300px;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
